<!-- sidebar.component.html
<div class="sidebar-container">
  <p-button
    type="button"
    [rounded]="true"
    [text]="true"
    class="mr-2 sidebar-toggle-button"
    (click)="sidebarVisible1 = true"
    icon="pi pi-bars">
  </p-button>

  <p-sidebar [(visible)]="sidebarVisible1" position="left">
   <h1>ESTA TUDO BEM!</h1>
  </p-sidebar>
</div> -->

<!-- <nav class="navbar">
  <div class="container">
    <div class="grid">
      <div class="col-12">
        teste
      </div>
    </div>
  </div>
</nav> -->


